@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑";
  line-height: 1;
  background-image: url("../../static/img/background.png"); }

img {
  border: 0px; }

.main_story {
  color: #1c3540;
  margin: 168px auto;
  width: 53%;
  font-size: 12px; }
  .main_story .title {
    overflow: hidden; }
    .main_story .title .font-icon {
      width: 6px;
      height: 25px;
      background-color: #00bb9c;
      display: inline-block;
      vertical-align: middle; }
    .main_story .title .story {
      color: #00bb9c;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    .main_story .title .link {
      display: inline-block;
      vertical-align: middle;
      float: right; }
      .main_story .title .link a {
        color: #00bb9c;
        font-size: 18px;
        line-height: 25px; }

.inform {
  margin-top: 90px; }
  .inform .tittle {
    margin-bottom: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: bold; }
  .inform .subtittle {
    margin-bottom: 25px;
    text-align: center; }
    .inform .subtittle .author {
      font-weight: bold;
      margin-left: 25px; }
  .inform .content {
    width: 80%;
    margin: auto; }

a {
  text-decoration: none; }

a:link {
  color: #1c3540; }

a:visited {
  color: #1c3540; }

a:hover {
  color: #00bb9c; }

.main_news {
  font-size: 12px;
  color: #1c3540;
  margin: 170px auto;
  width: 43%; }
  .main_news .head {
    overflow: hidden; }
    .main_news .head .font-icon {
      width: 6px;
      height: 25px;
      background-color: #00bb9c;
      display: inline-block;
      vertical-align: middle; }
    .main_news .head .tittle {
      color: #00bb9c;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    .main_news .head .link {
      display: inline-block;
      vertical-align: middle;
      float: right; }
      .main_news .head .link a {
        color: #00bb9c;
        font-size: 18px;
        line-height: 25px; }
  .main_news .content {
    margin-top: 75px; }
    .main_news .content .inform {
      margin: 15px auto;
      overflow: hidden;
      width: 96%; }
      .main_news .content .inform .news {
        float: left; }
      .main_news .content .inform .time {
        float: right; }

.main_pictures {
  margin: 15.6% auto 12.4%;
  width: 53%;
  color: #00bb9c; }
  .main_pictures .head {
    overflow: hidden;
    margin-bottom: 12.6%; }
    .main_pictures .head .font_icon {
      width: 6px;
      height: 25px;
      background-color: #00bb9c;
      display: inline-block;
      vertical-align: middle; }
    .main_pictures .head .tittle {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    .main_pictures .head .link {
      display: inline-block;
      vertical-align: middle;
      float: right; }
      .main_pictures .head .link a {
        color: #00bb9c;
        line-height: 25px;
        font-size: 18px; }
  .main_pictures .photo {
    width: 29.6%;
    margin-right: 5%;
    display: inline-block;
    margin-bottom: 15px; }
    .main_pictures .photo .pictures img {
      width: 100%;
      height: 100%; }
    .main_pictures .photo .pictures embed {
      width: 100%;
      height: 100%; }
    .main_pictures .photo .subtittle {
      text-align: center; }
      .main_pictures .photo .subtittle img {
        vertical-align: middle; }
      .main_pictures .photo .subtittle span {
        font-size: 18px;
        vertical-align: middle;
        display: inline-block;
        margin: 5% 12%; }
  .main_pictures .photo_ {
    display: inline-block;
    width: 29.6%; }
    .main_pictures .photo_ .pictures img {
      width: 100%;
      height: 100%; }
    .main_pictures .photo_ .pictures embed {
      width: 100%;
      height: 100%; }
    .main_pictures .photo_ .subtittle {
      text-align: center; }
      .main_pictures .photo_ .subtittle img {
        vertical-align: middle; }
      .main_pictures .photo_ .subtittle span {
        vertical-align: middle;
        display: inline-block;
        margin: 5% 17%; }

.content {
  font-size: 14px;
  color: #1c3540; }
  .content .tittle img {
    width: 100%; }
  .content .keyword {
    margin: 150px auto;
    width: 435px; }
  .content .timeline {
    background-image: url("../../static/img/keyword_bg.png");
    background-size: 100%;
    height: 40px;
    width: 59.6%;
    margin: 145px auto;
    background-repeat: no-repeat;
    background-position: 50% 90%; }
    .content .timeline ._timeline {
      margin-left: -20px; }
      .content .timeline ._timeline ._dot {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        margin-top: -19px;
        margin-right: 1.5%; }
        .content .timeline ._timeline ._dot .keylink {
          border-bottom: 1px solid #00bb9c;
          padding-bottom: 8px; }
        .content .timeline ._timeline ._dot .dot {
          margin: 10px auto;
          vertical-align: middle;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          background-color: #00bb9c;
          display: inline-block;
          border: 13px solid transparent;
          background-clip: padding-box;
          transition: all 0.5s;
          cursor: pointer; }
        .content .timeline ._timeline ._dot .dot:hover {
          border-radius: 50%;
          width: 12px;
          height: 12px;
          margin: 10px auto;
          background-color: #00bb9c;
          border: 13px solid #cdefe9;
          background-clip: padding-box; }
      .content .timeline ._timeline .a {
        margin-top: 4px; }
  .content .iconsearchs {
    margin: 145px auto;
    width: 700px;
    text-align: center; }
    .content .iconsearchs .iconsearch {
      margin-right: 10%;
      display: inline-block;
      vertical-align: middle; }
      .content .iconsearchs .iconsearch .icon {
        margin-bottom: 20px; }
      .content .iconsearchs .iconsearch .icondescription a {
        color: #00bb9c;
        font-size: 20px;
        text-align: center; }
    .content .iconsearchs .divid_line {
      margin-right: 10%;
      display: inline-block;
      vertical-align: middle; }
    .content .iconsearchs ._iconsearch {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0px; }
      .content .iconsearchs ._iconsearch .icon {
        margin-bottom: 20px; }
      .content .iconsearchs ._iconsearch .icondescription a {
        color: #00bb9c;
        font-size: 20px;
        text-align: center; }
  .content .info_message {
    margin: auto;
    width: 68%; }
    .content .info_message .info_pic {
      width: 50%;
      display: inline-block;
      vertical-align: middle; }
      .content .info_message .info_pic .info {
        overflow: hidden; }
        .content .info_message .info_pic .info .ti_li {
          text-align: center;
          font-size: 20px;
          padding-bottom: 25px; }
          .content .info_message .info_pic .info .ti_li .title_s {
            float: left;
            width: 80%;
            border-bottom: 1px #00bb9c solid; }
            .content .info_message .info_pic .info .ti_li .title_s .title {
              line-height: 40px;
              display: inline-block;
              padding-left: 1%;
              padding-right: 1%;
              cursor: pointer; }
            .content .info_message .info_pic .info .ti_li .title_s .title:hover {
              border-bottom: 5px #00bb9c solid;
              margin-bottom: -5px;
              line-height: 30px; }
          .content .info_message .info_pic .info .ti_li .link {
            float: right;
            line-height: 50px; }
            .content .info_message .info_pic .info .ti_li .link a {
              color: #00bb9c;
              font-size: 18px; }
        .content .info_message .info_pic .info #info_content {
          height: 200px;
          position: relative;
          width: 100%; }
          .content .info_message .info_pic .info #info_content #trends_con, .content .info_message .info_pic .info #info_content #intev_con, .content .info_message .info_pic .info #info_content #note_con {
            display: none; }
          .content .info_message .info_pic .info #info_content .information {
            padding-top: 25px;
            display: block;
            height: 180px;
            width: 100%;
            position: absolute;
            top: 0px; }
            .content .info_message .info_pic .info #info_content .information .infor {
              overflow: hidden;
              margin-top: 20px; }
              .content .info_message .info_pic .info #info_content .information .infor .new {
                float: left;
                width: 80%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap; }
              .content .info_message .info_pic .info #info_content .information .infor .time {
                float: right;
                margin-right: 5%; }
      .content .info_message .info_pic .pic {
        margin-top: 45px;
        padding: 0px; }
        .content .info_message .info_pic .pic img {
          width: 31%;
          margin-right: 3.5%; }
        .content .info_message .info_pic .pic .pho {
          margin-right: 0px; }
    .content .info_message .message {
      display: inline-block;
      vertical-align: middle;
      margin-left: 9%;
      width: 40%; }
      .content .info_message .message .subtittle {
        margin: 0px auto;
        width: 65%; }
        .content .info_message .message .subtittle img {
          width: 100%; }
      .content .info_message .message .message_bg {
        background-image: url("../../static/img/messagebox.png");
        background-size: 100%;
        height: 380px;
        width: 100%;
        margin: 0px auto;
        margin-bottom: -55px;
        background-position-y: 25px;
        position: relative;
        background-repeat: no-repeat; }
        .content .info_message .message .message_bg .message_box {
          overflow: auto;
          position: absolute;
          margin: 52px 15px;
          background-color: #eeeeee;
          width: 90%;
          height: 200px;
          border: 3px solid #00bb9c; }
          .content .info_message .message .message_bg .message_box ._message {
            margin: 15px;
            padding-bottom: 15px;
            width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
            .content .info_message .message .message_bg .message_box ._message .name {
              font-weight: bold; }
  .content #bottom_banner {
    display: block;
    width: 68%;
    margin: 190px auto 120px;
    height: auto;
    position: relative; }
    .content #bottom_banner #banner {
      margin: auto;
      width: 80%;
      height: 330px;
      overflow: hidden;
      position: relative; }
    .content #bottom_banner .pic {
      width: 100%;
      height: 330px;
      top: 0px;
      position: relative; }
    .content #bottom_banner img {
      display: block;
      width: 100%;
      height: 330px; }
    .content #bottom_banner .pic_info {
      display: block;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      z-index: 500;
      background: rgba(41, 47, 51, 0.7);
      color: #00bb9c; }
    .content #bottom_banner .right_show {
      -webkit-animation: right_show 1s ease-in-out;
      -o-animation: right_show 1s ease-in-out;
      animation: right_show 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      width: 100%;
      height: 330px;
      position: absolute;
      top: 0px; }

@keyframes right_show {
  from {
    left: -100%; }
  to {
    left: 0px; } }

@-webkit-keyframes right_show/* Safari and Chrome */ {
  from {
    left: -100%; }
  to {
    left: 0px; } }
    .content #bottom_banner .right_active {
      -webkit-animation: right_active 1s ease-in-out;
      -o-animation: right_active 1s ease-in-out;
      animation: right_active 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      width: 100%;
      height: 330px;
      position: absolute;
      top: 0px; }

@keyframes right_active {
  from {
    left: 0px; }
  to {
    left: 100%; } }

@-webkit-keyframes right_active /* Safari and Chrome */ {
  from {
    left: 0px; }
  to {
    left: 100%; } }
    .content #bottom_banner .left_show {
      -webkit-animation: left_show 1s ease-in-out;
      -o-animation: left_show 1s ease-in-out;
      animation: left_show 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      width: 100%;
      height: 330px;
      position: absolute;
      top: 0px; }

@keyframes left_show {
  from {
    left: 100%; }
  to {
    left: 0px; } }

@-webkit-keyframes left_show /* Safari and Chrome */ {
  from {
    left: 100%; }
  to {
    left: 0px; } }
    .content #bottom_banner .left_active {
      -webkit-animation: left_active 1s ease-in-out;
      -o-animation: left_active 1s ease-in-out;
      animation: left_active 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      width: 100%;
      height: 330px;
      position: absolute;
      top: 0px; }

@keyframes left_active {
  from {
    left: 0px; }
  to {
    left: -100%; } }

@-webkit-keyframes left_active /* Safari and Chrome */ {
  from {
    left: 0px; }
  to {
    left: -100%; } }
    .content #bottom_banner .button {
      position: absolute;
      width: 25px;
      height: 25px;
      font-size: 25px;
      line-height: 25px;
      font-weight: bolder;
      color: #00bb9c;
      transform: scale(3, 6);
      top: 200px;
      cursor: pointer;
      top: 165px;
      margin-top: -12.5px; }
    .content #bottom_banner #left-button {
      position: absolute;
      left: 30px; }
    .content #bottom_banner #right-button {
      position: absolute;
      right: 30px;
      text-align: right; }
  .content .cpyright {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #00bb9c; }
