<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home_page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<div class="content">
<div class="tittle"><img src="../static/img/tittle.png"></div>
	<div class="keyword"><img src="../static/img/keyword.png"></div>
<div class="timeline">
	<div class="_timeline">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<a href="#" class="keylink">校庆</a>
		<a href="#" class="keylink">空调</a>
		<a href="#" class="keylink">云课堂</a>
		<a href="#" class="keylink">论文查重</a>
		<a href="#" class="keylink">教务系统</a>
		<a href="#" class="keylink">教授午餐会</a>
		<a href="#" class="keylink">文化街</a>
		<a href="#" class="keylink">产宿拆除</a>
		<a href="#" class="keylink">佑铭避暑</a>
		<a href="#" class="keylink">停水</a>
		<a href="#" class="keylink">百团大战</a>
		<a href="#" class="keylink">专属自习室</a>
	</div>
</div>


	<div class="iconsearchs">
		<div class="iconsearch">
			<div class="icon"><img src="../static/img/icon_panel.png"></div>
			<div class="icondescription"><a href="#">展板</a></div>
		</div><div class="divid_line"><img src="../static/img/dividing_line.png"></div><div class="iconsearch">
			<div class="icon"><img src="../static/img/icon_pictures.png"></div>
			<div class="icondescription"><a href="#">图集</a></div>
		</div><div class="divid_line"><img src="../static/img/dividing_line.png"></div><div class="iconsearch">
			<div class="icon"><img src="../static/img/icon_video.png"></div>
			<div class="icondescription"><a href="#">视频</a></div>
		</div><div class="divid_line"><img src="../static/img/dividing_line.png"></div><div class="_iconsearch">
			<div class="icon"><img src="../static/img/icon_story.png"></div>
			<div class="icondescription"><a href="#">故事</a></div>
		</div>
	</div>
	<div class="info_message">
	<div class="info_pic">
	<div class="info">
	<div class="ti_li">
	<div class="title_s">
		<div class="title">
		<a href="#">毕业资讯</a>
		</div><div class="title">
		<a href="#">毕业动态</a>
		</div><div class="title">
		<a href="#">毕业专访</a>
		</div><div class="title">
		<a href="#">毕业寄语</a>
		</div>
		</div>
		<div class="link"><a href="#">MORE>></a></div>
		</div>
		<div class="information">
			<div class="infor">
			<div class="new">
			<a href="#">这是一条停水通知</a>
			</div>
			<div class="time">05-17</div>
			</div>
			<div class="infor">
			<div class="new">
			<a href="#">这是一条叫你交学费的通知</a>
			</div>
			<div class="time">04-19</div>
			</div>
			<div class="infor">
			<div class="new">
			<a href="#">来一条放假通知</a>
			</div>
			<div class="time">06-01</div>
			</div>
			<div class="infor">
			<div class="new">
			<a href="#">开学通知</a>
			</div>
			<div class="time">07-20</div>
			</div>
			<div class="infor">
			<div class="new">
			<a href="#">第五条通知</a>
			</div>
			<div class="time">07-21</div>
			</div>
			</div>
		</div>
		<div class="pic">
			<img src="../static/img/picture.png" alt="毕业照"><img src="../static/img/picture.png" alt="毕业照"><img class="pho" src="../static/img/picture.png" alt="毕业照">
		</div>
		</div>
		<div class="message">
			<div class="subtittle"><img src="../static/img/message.png"></div>
			<div class="message_bg">
			<div class="message_box">
				<div class="_message"><span class="name">白先森：</span>
				<span class="words">再也不见啊喂。</span></div>
				<div class="_message"><span class="name">Mr.H：</span>
				<span class="words">毕业了哇</span></div>
				<div class="_message"><span class="name">小疯子：</span>
				<span class="words">回家养猪种地噢耶。</span></div>
				<div class="_message">王小五：<span class="name"></span>
				<span class="words">我要去北漂啊！</span></div>
				<div class="_message"><span class="name">燕小六：</span>
				<span class="words">今晚的月亮真是圆。</span></div>
			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>