<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<title>news</title>
</head>
<body>
	<div class="main_news">
		<div class="head">
			<div class="font-icon"></div>
			<div class="tittle">毕业资讯</div>
			<div class="link"><a href="#">返回>></a></div>
		</div>
		<div class="content">
		<div class="inform">
			<div class="news"><a href="#">停水通知</a></div>
			<div class="time">05-10</div>
		</div>
		<div class="inform">
			<div class="news"><a href="#">停课通知</a></div>
			<div class="time">05-13</div>
		</div><div class="inform">
			<div class="news"><a href="#">各种通知各种毕业资讯啊</a></div>
			<div class="time">05-22</div>
		</div><div class="inform">
			<div class="news"><a href="#">放假通知</a></div>
			<div class="time">05-22</div>
		</div><div class="inform">
			<div class="news"><a href="#">关于第三学期上课的通知</a></div>
			<div class="time">05-22</div>
		</div><div class="inform">
			<div class="news"><a href="#">一条交学费的通知</a></div>
			<div class="time">05-30</div>
		</div><div class="inform">
			<div class="news"><a href="#">全国大学生英语竞赛通知</a></div>
			<div class="time">05-31</div>
		</div>
		</div>
	</div>
</body>
</html>