<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<title>panels</title>
</head>
<body>
	<div class="main_story">
		<div class="title">
			<div class="font-icon">
			</div><div class="story">展板
			</div>
			<div class="link"><a href="">返回>></a></div>
		</div>
		<div class="inform">
			<div class="tittle">停水通知</div>
			<div class="subtittle">
				<span class="author">作者:</span>
				<span>佚名</span>
				<span class="author">发布日期:</span>
				<span>05-15</span>
			</div>
			<div class="content">现时有很多网站流行使用网页字体，这些字体大部分来自Google Font提供的700+免费字体，对于网页设计师和前端人员来说来说，是个很棒的字体库，设计师可以使用字体库提供的免费字体来网页设计，而前端人员可以直接调用Web Font样式，极其方便</div>
		</div>
	</div>
</body>
</html>