<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>video</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<div class="main_pictures">
		<div class="head">
			<div class="font_icon"></div>
			<div class="tittle">图集</div>
			<div class="link"><a href="#">返回>></a></div>
		</div>
			<div class="photo">
				<div class="pictures"><embed src="../static/img/picture.png"/></div>
				<div class="subtittle">
					<img src="../static/img/flower.png">
					<span class="name">千人合照</span>
					<img src="../static/img/flower.png">
				</div>
			</div><div class="photo">
				<div class="pictures"><embed src="../static/img/picture.png"></div>
				<div class="subtittle">
					<img src="../static/img/flower.png">
					<span class="name">千人合照</span>
					<img src="../static/img/flower.png">
				</div>
				</div>
			<div class="photo_">
				<div class="pictures"><embed src="../static/img/picture.png"></div>
				<div class="subtittle">
					<img src="../static/img/flower.png">
					<span class="name">千人合照</span>
					<img src="../static/img/flower.png">
				</div>
			</div>
			<div class="photo">
				<div class="pictures"><embed src="../static/img/picture.png"></div>
				<div class="subtittle">
					<img src="../static/img/flower.png">
					<span class="name">千人合照</span>
					<img src="../static/img/flower.png">
				</div>
			</div>
			<div class="photo">
				<div class="pictures"><embed src="../static/img/picture.png"></div>
				<div class="subtittle">
					<img src="../static/img/flower.png">
					<span class="name">千人合照</span>
					<img src="../static/img/flower.png">
				</div>
			</div><div class="photo_">
				<div class="pictures"><embed src="../static/img/picture.png"></div>
				<div class="subtittle">
					<img src="../static/img/flower.png">
					<span class="name">千人合照</span>
					<img src="../static/img/flower.png">
				</div>
			</div>
	</div>
</body>
</html>