$green:#00bb9c;
$black:#1c3540;
.content{
	font-size: 14px;
	color:$black;
	.tittle img{
		width: 100%;
	}
	.keyword{
		margin: 150px auto;
		width: 435px;
	}
	.timeline{
		background-image: url("../../static/img/keyword_bg.png");
		background-size: 100%;
		height: 40px;
		width: 59.6%;
		margin: 145px auto;
		background-repeat: no-repeat;
		background-position: 50% 90%;

		._timeline{
			margin-left: -20px;
			._dot{
				vertical-align: top;
				display: inline-block;
				text-align: center;
				margin-top: -19px;
				margin-right: 1.5%;
				.keylink{
					border-bottom: 1px solid $green;
					padding-bottom: 8px;
				}
				.dot{
					margin:10px auto;
					vertical-align: middle;
					border-radius: 50%;
					width: 12px;
					height: 12px;
					background-color: $green;
					display: inline-block;
					border:13px solid transparent;
					background-clip: padding-box;
				}
				.dot:hover{
					border-radius: 50%;
					width: 12px;
					height: 12px;
					margin:10px auto;
					background-color: $green;
					border:13px solid #cdefe9;
					background-clip: padding-box;
				}
			}
			.a{
					margin-top: 4px;
				}
		}
	}
	.iconsearchs{
		margin: 145px auto;
		width: 700px;
		text-align: center;
		.iconsearch{
			margin-right: 10%;
			display: inline-block;
			vertical-align: middle;
			.icon{
				margin-bottom: 20px;
			}
			.icondescription{
				a{
					color: $green;
					font-size: 20px;
					text-align: center;
				}
			}
		}
		.divid_line{
			margin-right: 10%;
			display: inline-block;
			vertical-align: middle;
		}
		._iconsearch{
			display: inline-block;
			vertical-align: middle;
			margin-right: 0px;
			.icon{
				margin-bottom: 20px;
			}
			.icondescription{
				a{
					color: $green;
					font-size: 20px;
					text-align: center;
				}
			}
		}
	}
	.info_message{
		margin:  auto;
		width: 68%;
		.info_pic{
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			.info{
				overflow: hidden;
				.ti_li{
					text-align: center;
					font-size: 20px;
					padding-bottom: 25px;
					.title_s{
					float: left;
					width: 80%;
					border-bottom: 1px $green solid;
					.title{
						line-height: 40px;
						display: inline-block;
						padding-left: 1%;
						padding-right: 1%;
					}
					.title:hover{
						border-bottom: 5px $green solid;
						margin-bottom: -5px;
						line-height: 30px;
					}
				}
				.link{
					float: right;
					line-height: 50px;
					a{
						color: $green;
					}
				}
				}
				.information{
					padding-top: 25px;
					.infor{
					overflow: hidden;
					margin-top: 20px;
					.new{
						float: left;
					}
					.time{
						float: right;
						margin-right: 5%;
					}
				}
				}
				}
					.pic{
						margin-top: 45px;
						padding:0px;
						img{
							width: 31%;
							margin-right: 3.5%;
						}
						.pho{
							margin-right: 0px;
						}
			}
		}
		.message{
			display: inline-block;
			vertical-align: middle;
			margin-left: 9%;
			width: 40%;
			.subtittle{
				margin:0px auto;
				width: 65%;
				img{
					width: 100%;
				}
			}
			.message_bg{
				background-image: url('../../static/img/messagebox.png');
				background-size: 100%;
				height: 380px;
				width: 100%;
				margin: 0px auto;
				margin-bottom: -55px;
				background-position-y: 25px;
				position: relative;
				background-repeat: no-repeat;
				.message_box{
				overflow: auto;
				position: absolute;
				margin: 52px 15px;
				background-color: #eeeeee;
				width: 90%;
				height: 200px;
				border:3px solid $green;
				._message{
					margin:15px;
					padding-bottom: 15px;
					.name{
						font-weight: bold;
					}
				}
			}
			}
		}
	}
}
