$green:#00bb9c;
$black:#1c3540;
.main_pictures{
	margin:15.6% auto 12.4%;
	width: 53%;
	color: $green;
	.head{
		overflow: hidden;
		margin-bottom: 12.6%;
		.font_icon{
			width: 6px;
			height: 25px;
			background-color: $green;
			display: inline-block;
			vertical-align: middle;
		}
		.tittle{
			font-size: 20px;
			font-weight: bold;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
		.link{
			display: inline-block;
			vertical-align: middle;
			float: right;
			a{
				color: $green;
				line-height: 25px;
			    font-size: 18px;
		    }
		}
	}
		.photo{
			width: 29.6%;
			margin-right: 5%;
			display: inline-block;
			margin-bottom: 15px;
			.pictures{
				img{
					width: 100%;
					height: 100%;
				}
				embed{
					width: 100%;
					height: 100%;
				}
				}
				.subtittle{
					text-align: center;
					img{
					vertical-align: middle;
				}
				span{
					font-size: 18px;
					vertical-align: middle;
					display: inline-block;
					margin: 5% 12%;
				}
			}
		}
		.photo_{
			display: inline-block;
			width: 29.6%;
			.pictures{
				img{
					width: 100%;
					height: 100%;
				}
				embed{
					width: 100%;
					height: 100%;
				}
			}
			.subtittle{
					text-align: center;
					img{
					vertical-align: middle;
				}
				span{
					vertical-align: middle;
					display: inline-block;
					margin:  5% 17%;
				}
			}
		}
	}